*,
::after,
::before{
    box-sizing: border-box;
}
@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'spaceage';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #fff;
    font-family: 'SF-Pro-Display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
button{
    border: none;
    background-color: transparent;
}
.container{
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 10px;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 75px 0 30px;
    justify-content: space-between;
}
.menu__item{
    display: flex;
}
.menu__list{
    margin-right: 30px;
}
.menu__link{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;  
    transition: color .5s;
}
.menu__link:hover{
    color: #CB0E0E;
}
.header__phone{
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
}
.login{
    margin-left: 22px;
    margin-right: 134px;
}
.header__title{
    font-family: 'spaceage';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__content{
    max-width: 600px;
}
.header__title span{
    font-size: 110px;
}
.header__text{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    margin-bottom: 50px;
}
.header__btn{
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 10px 16px;
}
.header__discription{
    display:flex;
    justify-content: flex-end;
    max-height: 140px;
    margin-bottom: 10%;
    margin-top: 40px;

}
.header__discription-text{
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header__discription-text+.header__discription-text{
    margin-left: 52px;
}
