*,
::after,
::before{
    box-sizing: border-box;
}
@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'spaceage';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #fff;
    font-family: 'SF-Pro-Display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    font-family: 'SF-Pro-Display';
}
.container{
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 10px;
}
.title{
    font-family: 'spaceage';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    padding: 100px 0;
}
.button{
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 20px 45px;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 75px 0 30px;
    justify-content: space-between;
}
.menu__item{
    display: flex;
}
.menu__list{
    margin-right: 30px;
}
.menu__link{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;  
    transition: color .5s;
}
.menu__link:hover{
    color: #CB0E0E;
}
.header__phone{
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
}
.login{
    margin-left: 22px;
    margin-right: 134px;
}
.header__title{
    font-family: 'spaceage';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__content{
    max-width: 600px;
}
.header__title span{
    font-size: 110px;
}
.header__text{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    margin-bottom: 50px;
}
.header__btn{
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 10px 16px;
}
.header__discription{
    display:flex;
    justify-content: flex-end;
    max-height: 140px;
    margin-bottom: 10%;
    margin-top: 40px;

}
.header__discription-text{
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header__discription-text+.header__discription-text{
    margin-left: 52px;
}
.about{
    background-image: url(../images/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.about__item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    flex-wrap: wrap;
}
.about__item:nth-child(odd){
    flex-direction: row-reverse;
}
.about__img{
    max-width: 100%;
}
.about__content{
    width: 600px;
}
.about__content-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}
.about__content-subtitle{
    color: #036CCA;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about__content-text{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
}
.about__content-text p{
    width: 165px;

}
.about__table{
    margin-bottom: 50px;
}
.about__table-tr{
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__table-tr+.about__table-tr{
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
}
.about__table-td{
    padding: 10px 30px 10px 0;
}
.about__table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.about__table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}
.howto{
    background-image: url(../images/howtobg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}
.howto__box{
    text-align: center;
}
.howto__box circle,
.howto__box text{
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}
.howto__box g:hover circle{
    fill: #036CCA; 
    r: 20px; 
}
.howto__box g:hover text{
    font-size: 36px;
    line-height: 43px;
    fill: #036CCA;
}
foreignObject{
    text-align: left;
}
.howto__box g:hover foreignObject{
    font-size: 22px;
    color: #036CCA;
}
.booking{
    background-image: url(../images/bookingbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 100px;
}
.booking__inner{
    display: flex;
    justify-content: space-between;
}
.booking__text{
    width: 165px;
    padding-top: 100px;
    display: flex;
    font-size: 14px;
    line-height: 19px;
    margin-left: auto;
}
.booking__text+.booking__text{
    margin-left: 52px;
}
.info{
    background-image: url(../images/specialbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}
.special__offer{
    padding-bottom: 150px;
}
.special__inner{
    display: flex;
    justify-content: space-between;
}
.special__item{
   width: 500px;
}
.special__box{
    border: 1px solid #fff;
    margin-bottom: 25px;
    padding: 40px 75px;
    text-align: center;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.special__text{
    font-size: 24px;
    line-height: 29px;
    width: 236px;
    margin: 0 auto;
}
.special__text span{
    color: #CB0E0E;
    
}
.special__price-old{
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    position: relative;
}
.special__price-old::before{
    content: '';
    position: absolute;
    width: 68px;
    height: 1px;
    background-color: #CB0E0E;
    top: 7px;
    right: 0;
    transform: rotate(15deg);
}
.special__price-new{
    font-size: 48px;
    line-height: 57px;
}
.special__btn{
    width: 100%;
}
.services{
    padding-bottom: 200px;
}
.services__inner{
    display: flex;
    justify-content: space-between;
}
.services__box-list{
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}
.services__list-title{
    margin-bottom: 25px;
}

.services__list{
    margin-bottom: 25px;
    list-style: none;
}
.services__item{
    padding-left: 36px;
    position: relative;
}
.services__item::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
}
.services__desriptions{
    font-size: 12px;
    line-height: 14px;
}
.services__btns{
    width: 500px;
}
.services__btn{
    width: 100%;
}
.services__btnfirst{
    margin-bottom: 50px;
    position: relative;
}
.services__btnfirst::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 41px;
    background-image: url(../images/fotoserv.png);
    width: 192px;
    height: 150px;
}
.slider{
    text-align: center;
}
.slider__inner{
    border: 1px solid #fff;
    margin-bottom: 50px;
    padding: 100px 0;
}
.slider__descr{
    font-family: 'spaceage';
    font-size: 24px;
    line-height: 30px;
}
.slider__box-img{
    margin: 0 auto;
}
.slider__arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.slider__arrowleft{
    left: 75px;
}
.slider__arrowright{
    right: 75px;
}
.conacts{
    background-image: url(../images/contactsbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}
.conacts__inner{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
}
.conacts__box{
    width: 500px;
}
.conacts__text{
    margin-bottom: 80px;
}
.conacts__guarantees{
    width:600px;
    margin-left: auto;
}
.conacts__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}
.conacts__input{
    width: 100%;
    font-family: 'SF-Pro-Display';
    border: none;
    border-bottom: 1px solid #d9d9de;
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    color:#fff;
    background-color: #010203;
}
.conacts__input::placeholder{
    font-family: 'SF-Pro-Display';
    font-size: 14px;
    line-height: 17px;
    color:#fff;
}
.conacts__guarantees-img{
    display: flex;
    margin-left: auto;
}
.conacts__btn{
    width: 100%;
}
.footer{
    background-image: url(../images/footerbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 100px 0 150px;
}
.footer__inner{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 19px;
}
.footer__text{
    width: 165px;
    margin-right: 50px;
}
.footer__text p + p{
    margin-top: 50px;
}
.footer__menu{
    list-style: none;
    width: 120px;
    margin-right: 95px;
}
.footer__links{
    list-style: none;
    width: 165px;
}
.footer__menu-list,
.footer__links-list{
    margin-bottom: 20px;
}
.footer__links-link,
.footer__menu-link{
    text-transform: uppercase;
    transition: color .5s;
}
.footer__links-link:hover,
.footer__menu-link:hover{
    color: #CB0E0E;
}